* { padding: 0; margin: 0; }

body {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 13px;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    margin: auto;
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    z-index: 99;
}

nav ul{
    list-style: none;
    overflow: auto;
}

nav img{
    height: 30px;
}

.navButton{
    cursor: pointer;
    text-align: center;
    height: 40px;
    width: 100px;
    background-color: #FFFFFF;
    border-left: solid 2px #333333;
    float: left;
}

.navButton a {
    text-decoration: none;
    display: block;
    height: 30px;
    padding-top: 10px;
    width: 100px;
    color: inherit;
    font-weight: bold;
}

.navButton:first-child{
    border-left: none;
    padding: 5px;
    width: 30px;
    height: 30px
}

.navButton:first-child a{
    width: 30px;
    height: 30px;
    padding: 0;
}

#centerNav{
    width: 654px;
    margin: 0 auto;
}
header {
    margin-top: 40px;
    width: 100%;
    color: #ffffff;
    height: 375px;
    display: flex;
    background: black url("images/mars.jpg") center/1500px 375px no-repeat;

}

#header-text{
    margin: 50px auto auto auto;
    width: 240px;
}

header h1{
    font-size: 2em;
    display: inline-block;
    margin-top: 9px;
}

header img{
    height: 50px;
    width: 50px;
    position: absolute;
    margin-left: 5px;
    display: inline-block;
}

#content-wrapper{
    background: black url("images/star_background-blurred.jpg") center/1920px 1080px repeat;
}

.content {
    width: 800px;
    margin: auto;
    background-color: aliceblue;
    opacity: 0.7;
    border-left: solid #383838 2px;
    border-right: solid #383838 2px;
}

.text{
    padding-top: 100px;
    padding-bottom: 100px;
    opacity: 1.0;
    font-size: 1.3em;
}

#intro{
    padding: 40px;
}

#intro h2{
    text-align: center;
    padding-bottom: 20px;
}

#intro p{
    width: 600px;
    margin: auto;
}

#pauze1{
    height: 700px;
    width: 100%;
    background: black url("images/lonely-mars.jpg") center/1500px 1000px no-repeat;
}

#functie{
    overflow: auto;
    padding: 40px;
    margin: auto;
}

#functie h2{
    float: left;
    width: 100px;
}

#functie p{
    float: right;
    width: 500px;
    margin: auto;
    padding-right: 50px;
    padding-bottom: 100px;
}

#pauze2{
    height: 700px;
    width: 100%;
    background: black url("images/ariane64.jpg") center/1500px 770px no-repeat;
}

#gebruik{
    padding: 40px;
}

#gebruik h2{
    text-align: center;
}

#gebruik p{
    width: 600px;
    margin: auto;
}

#gebruik ul{
    text-align: center;
    list-style: none;
}

#pauze3{
    height: 700px;
    width: 100%;
    background: black url("images/mars-colony.jpg") center/1500px 770px no-repeat;
}

#media{
    padding-top: 60px;
    padding-bottom: 50px;
    margin: auto;
    text-align: center;
}

#pauze4{
    height: 700px;
    width: 100%;
    background: black url("images/marsPlanet.jpg") center/1500px 770px no-repeat;
}

#contact{
    padding: 100px;
}
#contact #tabs{
    border: solid #ff3025 5px;
    border-radius: 9px;
}
#contact #fragment-3 a{
    color: #ff3025;
}


footer{
    height: 200px;
    background-color: black;
    position: relative;
}
footer p{
    position: absolute;
    bottom: 0;
    right: 10px;
    color: white;
}
