* { padding: 0; margin: 0; }

body {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 13px;
}

#nav {
    height: 100px;
    display: inline;
}

header {
    width: 100%;
    color: #ffffff;
    height: 370px;
    display: flex;
    background-image: url("images/mars.jpg");
    background-size: cover;
}

header h1{
    margin: 60px auto auto auto;
    font-size: 2em;
}

#content {
    width: 900px;
    color: #333;
    border: 1px solid #ccc;
    background:#FFF;
    opacity: 0.8;
    margin: 0 0 10px 0;
    padding: 10px;
    height: auto;
}
